1. Write a Python function to find the Max of three numbers. Go to the editor

In [4]:
def find_max(a,b,c):
    max = a
    
    if b > max :
        max = b
    if c > max:
        max = c
        
    return max

In [5]:
find_max(1,2,3,)

3

In [6]:
def find_max2(*args):
    return print(sorted(args, reverse= True)[:1])

In [7]:
find_max2(2,6,2,4,1,8)

[8]

In [8]:
def find_max3(*args):
    return print(sorted(args)[:-1])

In [9]:
find_max2(2,6,2,4,1,8)

[8]

In [15]:
def find_max4(a: tuple=(0,0,0)) -> int :
    return max(a)

In [16]:
find_max4(1,2,3) ##  raises typeError. Requires a tuple, but given 3 ints

TypeError: find_max4() takes from 0 to 1 positional arguments but 3 were given

In [12]:
find_max4((1,2,3))

3

In [18]:
find_max4() # returns the default value --> max of (0, 0, 0)

0

In [22]:
nums = []
import math
def find_max5():
    while len(nums) < 3:
        num = int(input('Enter a number: '))
        nums.append(num)
    
    print()
    print(f'The max is {max(nums)}')

In [23]:
find_max5()

Enter a number:  1
Enter a number:  2
Enter a number:  3

The max is 3

2. Write a Python function to sum all the numbers in a list. Go to the editor
Sample List : (8, 2, 3, 0, 7)
Expected Output : 20

In [27]:
#iterating
def sum_func(a: list = [])-> int or float:
    sum = 0
    for num in a:
        sum += num
    
    return sum

In [30]:
sum_func([1,2,4,5])

12

In [31]:
sum_func([1.1,2.5,4,5])

12.6

In [32]:
{n**2 for n in range(4)}

{0, 1, 4, 9}

In [36]:
#iterating
def sum_func2():
    sum = 0
    num = [int(x) for x in input("Enter your numbers").split()]
    for i in num:
        sum += i
    
    return print(sum)

In [37]:
sum_func2()

Enter your numbers  5 12 5 12 5

39

In [45]:
#using sum method and *args
def sum_func3(*args):
    return sum(args)

In [48]:
sum_func3(1,2,3)

6

In [54]:
#using recursion
def sum_func4(l:list)-> int or float:
    #defining base
    if len(l) == 1:
        return l[0]
    else:
        return l[0] + sum_func4(l[1:])

In [55]:
sum_func4([1,2,3])

6

In [70]:
#using while loop:
def sum_func5(l):
    sum = 0
    #moving forward the pointer on each element 
    element = 0
    while  element < len(l):
        sum = sum + l[element]
        element += 1
    
    return sum

In [71]:
sum_func5([1,2,3])

6

In [104]:
#using enumerate
def sum_func6(l:list=[]):
    sum = 0
    for index, item in enumerate(l):
        sum += item
    return sum

In [105]:
sum_func6([1,2,3,])

6

In [102]:
#using list comprehension
def sum_func7(l:list=[]):
    s = [i for i in l ]
    return(sum(s))

In [103]:
sum_func7([1,2,3])

6

#### -enumerate built-in function: enumerate(iterable, start=0)

In [76]:
my_l=[1,2,3,4,]
a = enumerate(my_l,0)
print(a)

<enumerate object at 0x7f75f469c5f0>

In [81]:
letters = ['a', 'b', 'c', 'd', 'e',]

In [85]:
for index, item in enumerate(letters):
    print('letters', index, '=', item)

letters 0 = a
letters 1 = b
letters 2 = c
letters 3 = d
letters 4 = e